<h4>About page</h4>
<p class="lead">
    Hi! Welcome to Video Ideas app!!!
    Both phones use the default android messenger. Periodically, the conversation switches between the default yellow SMS to the green android to android SMS.
    When this is happening, texts that act as though they were sent arent sent and disappear from both sides of the conversation. Any idea why this happens?
</p>
