<div class="jumbotron text-center">
    <h1 class="display-3">Hi! Welcome to Video Ideas app!!!</h1>
    <p class="lead">Write down your ideas for the next video you wanna make!</p>
    <a href="ideas/add" class="btn btn-dark btn-lg">Add idea</a>
</div>
